header { *{
  color: #fff !important;
}
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .top-nav {
    @media (max-width: 940px) {
      display: none;
    }
    border-bottom: 0.005rem solid #aaa;
    width: 100%;
    padding: 15px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .right {
      display: flex;
      align-items: center;
      gap: 6px;
    }
    .left {
      display: flex;
      align-items: center;
      gap: 15px;
      .phone,
      .mail {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
  .bottom-nav {
    img {
      width: 85px;
    }
    width: 100%;
    padding: 30px 50px;
    @media (max-width: 520px) {
      padding: 30px 30px;
    }
    .book-btn {
      margin-top: -0.5rem;
      padding: 6px 20px;
      border: none;
      background: none;
      outline: none;
      border: 0.06rem solid #fff;
      @media (max-width: 992px) {
        margin-top: 10px;
      }
    }
    .link {
      text-decoration: none;
      font-size: 17px;
    }
    .link:active {
      color: #ff9900 !important;
      transform: scale(0.95) !important;
    }
    
    
  }
  .offcanvas {
    transition: width 0.3s ease-in-out;
    @media (max-width: 800px) {
      width: 350px !important;
    }
    @media (max-width: 450px) {
      width: 250px !important;
    }
  }
}
