.bg-container-meals {
  width: 100%;
  height: 88vh;
  .bg-image {
    width: 100%;
    height: 88vh;
    background-image: url("../images/homepage_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: -1;
    .overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: -1;
      .content {
        p {
          font-size: 2rem;
          text-align: center;
          padding-top: 18%;
          font-family: "Jost", serif !important;
          font-size: 25px;
          color: #fff;
        }
        h1 {
          font-size: 3rem;
          text-align: center;
          font-size: 80px;
          font-family: "Cormorant Garamond", serif !important;
          color: #fff;
        }
      }
    }
  }
}
.menuList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 150px;
  div {
    column-gap: 10px;
    width: 540px;
    display: flex;
    .meal-img {
      width: 72px;
      height: 72px;
    }
    .meal-text {
      display: flex;
      flex-direction: column;
      h2 {
        margin: 0;

        font-family: "Cormorant Garamond", serif !important;
      }
      p {
        color: #363636;
        font-family: "Jost", serif;
      }
    }
  }
}
.timeMeal {
  padding: 0 !important;
  font-size: 18px !important;
}
.orderDiv {
  display: flex;
  justify-content: center;
  padding: 50px;
  button {
    width: 200px;
    height: 50px;
    background-color: #dd5903;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-family: "Jost", serif;
    transition: all 0.5s;
    &:hover {
      background-color: #c45104;
    }
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
.sort-container {
  margin-bottom: 20px;
  text-align: right;
  margin:0 78px;
}

.sort-container label {
  font-size: 14px;
  font-weight: bold;
}

.sort-container select {
  padding: 8px 12px;
  font-size: 14px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
