.bg-container{
.bg-image-contact {
    width: 100%;
    height: 70vh;
    background-image: url("../images/contact-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    .overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: -1;
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        margin-top: 6rem;
        font-size: 3.5rem;
        font-family: "Cormorant Garamond", serif !important;
        @media (max-width: 1250px) {
          font-size: 2.8rem;
        }
        @media (max-width: 670px) {
          font-size: 2.4rem;
        }
        @media (max-width: 450px) {
          font-size: 2rem;
        }
        @media (max-width: 395px) {
          font-size: 1.5rem;
        }
      }
    }
  }}