.bg-container-contact {
  margin-top: 350px;
}
@media (max-width: 950px) {
  .bg-container-contact {
    margin-top: 400px;
  }
}
.bg-container-contact .bg-image-contact {
  width: 100%;
  height: 77vh;
  background-image: url("../images/contact-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.bg-container-contact .bg-image-contact .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-container-contact .bg-image-contact .overlay h1 {
  color: #fff;
  margin-top: 6rem;
  font-size: 4.5rem;
  font-family: "Cormorant Garamond", serif !important;
}
@media (max-width: 1250px) {
  .bg-container-contact .bg-image-contact .overlay h1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 670px) {
  .bg-container-contact .bg-image-contact .overlay h1 {
    font-size: 2.4rem;
  }
}
@media (max-width: 450px) {
  .bg-container-contact .bg-image-contact .overlay h1 {
    font-size: 2rem;
  }
}
@media (max-width: 395px) {
  .bg-container-contact .bg-image-contact .overlay h1 {
    font-size: 1.5rem;
  }
}

.location-part {
  display: flex;
  align-items: center;
  justify-content: center;
}
.location-part .map-btn {
  text-decoration: none;
  color: #fff;
  background-color: #dd5903;
  padding: 7px 20px;
}
.location-part .map-btn:hover {
  background-color: rgba(246, 118, 33, 0.9803921569);
}
.location-part .img {
  padding: 40px;
  width: 100%;
}
@media (min-width: 600px) and (max-width: 768px) {
  .location-part .img {
    width: 82%;
    margin: 0 auto !important;
  }
}
@media (max-width: 768px) {
  .location-part .img {
    margin-top: 20px;
  }
}
@media (max-width: 1100px) {
  .location-part .img {
    padding: 20px;
  }
}
@media (max-width: 580px) {
  .location-part .img {
    padding: 20px;
  }
}
@media (max-width: 950px) {
  .location-part .img {
    padding: 10px;
  }
}
.location-part .img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.location-part .content {
  border-right: 1px solid #efefef;
  margin-top: 0 !important;
  margin: 60px;
}
@media (min-width: 600px) and (max-width: 768px) {
  .location-part .content {
    margin-bottom: 30px !important;
  }
}
@media (max-width: 768px) {
  .location-part .content {
    border: none;
  }
}
.location-part .content .bottom {
  margin-bottom: 25px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 900px) {
  .location-part .content .bottom {
    gap: 12px;
    margin-top: 10px;
  }
}
.location-part .content .bottom .part {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 450px) {
  .location-part .content .bottom .part span {
    font-size: 13px;
  }
}
.location-part .content .bottom .part span:hover {
  color: #dd5903;
  cursor: pointer;
}
.location-part .content p {
  margin-right: 40px;
}
@media (max-width: 900px) {
  .location-part .content p {
    font-size: 15px !important;
  }
}
@media (max-width: 950px) {
  .location-part .content p {
    margin-right: 10px;
  }
}
@media (max-width: 460px) {
  .location-part .content p {
    font-size: 13px !important;
    margin: 7px;
  }
}
.location-part .content h1 {
  font-weight: 700;
  font-size: 50px;
  font-family: "Cormorant Garamond", serif !important;
  margin-bottom: 20px;
}
@media (max-width: 900px) {
  .location-part .content h1 {
    font-size: 28px !important;
  }
}
@media (max-width: 1180px) {
  .location-part .content h1 {
    font-size: 38px;
  }
}
@media (max-width: 1180px) {
  .location-part .content {
    margin: 30px;
  }
}
@media (max-width: 1100px) {
  .location-part .content {
    margin: 15px;
  }
}
@media (max-width: 950px) {
  .location-part .content {
    margin: 0;
  }
}
.location-part .content #title {
  font-family: "Cormorant Garamond", serif !important;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #dd5903;
}

.contact-section {
  background-color: #faf9f8;
}
.contact-section .content {
  padding: 20px 40px 20px 40px;
}
@media (max-width: 895px) {
  .contact-section .content {
    padding: 0;
  }
}
.contact-section .content h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 47px;
  margin-bottom: 14px;
}
@media (max-width: 920px) {
  .contact-section .content h1 {
    font-size: 40px;
  }
}
@media (max-width: 440px) {
  .contact-section .content h1 {
    font-size: 35px;
  }
}
.contact-section .content p {
  margin-bottom: 22px;
}
@media (max-width: 440px) {
  .contact-section .content p {
    font-size: 15px;
  }
}
.contact-section .content h6 {
  font-size: 17px;
  margin-bottom: 13px;
  font-weight: 600;
  color: #dd5903;
}
@media (max-width: 895px) {
  .contact-section .content h6 {
    font-size: 14px;
  }
}
.contact-section .content span {
  cursor: pointer;
}
.contact-section .content span:hover {
  color: #dd5903;
}
.contact-section .content .bottom {
  margin-bottom: 35px;
}
.contact-section .content .bottom h5 {
  font-size: 17px;
  font-weight: 650;
}
.contact-section .content .bottom p {
  margin-bottom: 5px;
}
.contact-section .content .link {
  font-size: 13px;
  font-weight: 500;
  padding-bottom: 5px;
  text-decoration: none;
  color: black;
  position: relative;
  display: inline-block;
}
.contact-section .content .link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #dd5903;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  transform: scaleX(1);
}
.contact-section .content .link:hover::after {
  transform: scaleX(0);
  transform-origin: right;
}
.contact-section form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.contact-section form .error {
  font-size: 12px !important;
  font-weight: 360;
}
@media (max-width: 768px) {
  .contact-section form {
    margin-top: 20px;
  }
}
.contact-section form .top {
  width: 100%;
  display: flex;
  gap: 10%;
}
@media (max-width: 768px) {
  .contact-section form .top {
    flex-direction: column;
    gap: 30px;
  }
}
.contact-section form .top .name,
.contact-section form .top .email {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact-section form .top .name input,
.contact-section form .top .email input {
  width: 100% !important;
}
.contact-section form .bottom {
  width: 100%;
}
.contact-section form .bottom .message {
  height: 75px;
}
.contact-section form .bottom .number,
.contact-section form .bottom .message-input {
  margin-bottom: 20px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.contact-section form .bottom .number input,
.contact-section form .bottom .message-input input {
  width: 100%;
}
.contact-section form input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #faf9f8;
}
.contact-section form button {
  margin-top: 10px;
}
.contact-section form .message {
  background-color: #faf9f8;
  width: 100%;
  resize: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}/*# sourceMappingURL=contact.css.map */