.footer { 
  *{
    color: #fff;
  }

  h3,h1{
    margin-bottom: 22px;
    font-family: "Cormorant Garamond", serif !important;
 
  }
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  background-color: #09080e;
  background-color: #111;
.part {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  .times {
    display: flex;
    flex-direction: column;
    .time,.time-last {
    
      p,span {
        margin-bottom: 10px;
        color: #e1e1e1 !important;
      }
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
  }
}
footer {
  padding: 15px;
  border-bottom: 0.005rem solid #aaa;
}
}
