.bg-image-reserv {
  width: 100%;
  height: 70vh;
  background-image: url("../images/reservation-bg-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      color: #fff;
      margin-top: 6rem;
      font-size: 3.5rem;
      font-family: "Cormorant Garamond", serif !important;
      @media (max-width: 1250px) {
        font-size: 2.8rem;
      }
      @media (max-width: 670px) {
        font-size: 2.4rem;
      }
      @media (max-width: 450px) {
        font-size: 2rem;
      }
      @media (max-width: 395px) {
        font-size: 1.5rem;
      }
    }
  }
}
.title {
  h1 {
    font-size: 4rem;
    margin-bottom: 3.5rem;
    font-family: "Cormorant Garamond", serif !important;
    border-bottom: 0.05rem solid black;
  }
}
.tables-container {
  padding-top: 50px;
  padding-bottom: 50px;

  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 370px !important;
  margin-bottom: 50px !important;
  

  p {
    font-size: 24px;
    font-family: "Cormorant Garamond", serif !important;
    text-align: center;
    font-size: bold;
  }
  .table {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    overflow: hidden;
    z-index: 2;
    border-radius: 80px;
    width: 100%;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      transition: transform 0.5s ease-in-out;
    }
    &:hover img {
      transform: scale(1.2);
    }

    .overlay {
      background-color: #fff !important;
      position: relative;
    }

    .status {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      color: #fff !important;
      // background: rgba(176, 173, 173, 0.9);
      background-color: #DD5903;
      padding: 6px 15px;
      border-radius: 5px;
      font-size: 1rem;
      display: none;
      animation: fadeIn 0.5s ease-out forwards;
      opacity: 0; 
    }
    
    @keyframes fadeIn {
      0% {
        opacity: 0;
        transform: translateX(-50%) translateY(10px); 
      }
      100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0); 
      }
    }
    
   
    

    &:hover .status {
      display: block;
    }
  }
  .available {
    display: flex;
    flex-direction: column;
    align-items: center

    }
  }
 
  form{
    input {
      margin-bottom: 5px;
      outline: none;
      border: none;
      border-bottom: 1px solid #e1e1e1;
      width: 100%;
    }
    display: flex;
    flex-direction: column;
    align-items: start;
    button{
      font-size: 700;
      background-color: #DD5903;
      color: #fff !important;
      margin-top: 6px;
      font-size: 15px;
      outline: none;
      border: none;
      border-radius: 10px;
      align-self: center;
      padding: 6px 40px;
    }
    .error {
      font-weight: bold;
      font-size: 14.5px !important;
      margin: 0 !important;
      color: red;
    }
  
}
.error {
  color: red !important;
}
.cancel-btn {
  font-size: 700;
  background-color: #DD5903;
  color: #fff !important;
  margin-top: 6px;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 10px;
  align-self: center;
  padding: 6px 40px;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white !important;
  padding: 2rem;
  @media (max-width:420px){
    padding: 1.2rem;
    margin: 10px;
  }
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 90%;
}
.modal-content span {
  color: #DD5903 !important;
  @media (max-width:420px){
    font-size: 0.7rem;
  }
}

.modal-content h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  @media (max-width:420px){
    font-size: 1.5rem;
  }
}

.modal-content p {
  
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  @media (max-width:420px){
    font-size: 1rem;

}}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

.close-button:hover {
  color: #ff0000;
}
